# Ignore local dependencies and build cache
node_modules/
.angular/
dist/

# Ignore development settings and documentation
.vscode/
.git/
.gitignore
.editorconfig

# Ignore docker files inside the container
Dockerfile

# Ignore local log files
*.log